/* Set color for links and cross-references */

a {
  color: #3366CC ;        /* normal link */
}

a:visited {
  color: #3366CC;        /* visited link */
}

a:hover {
  color: #000000;        /* hover */
}

/* Base TOC links on top right */
#TOC a {
  color: #3366CC;
}

/* Hover */
#TOC a:hover,
#TOC .nav-link:hover {
  color: #000000 !important;
}

/* Active section */
#TOC .nav-link.active,
#TOC .active > a {
  color: #000000 !important;
  font-weight: bold;
}